<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }} - {{ page.title | escape }}</title>
    <meta name="author" content="Apple Inc." />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="license" href="/LICENSE.txt" />
    <link rel="stylesheet" media="all" href="/assets/stylesheets/new-stylesheets/application.css"/>
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" type="image/vnd.microsoft.icon" href="/favicon.ico"/>
  </head>

  <body>
    <main style="padding: 20px 0; max-width: 1080px; margin: 0 auto;">{{content}}</main>
  </body>
</html>
