<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ site.title }} - Swift.org Storybook</title>
    <meta name="author" content="Apple Inc." />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="license" href="/LICENSE.txt" />
    <link
      rel="stylesheet"
      media="all"
      href="/assets/stylesheets/new-stylesheets/application.css"
    />
    <link
      rel="shortcut icon"
      sizes="16x16 24x24 32x32 48x48 64x64"
      type="image/vnd.microsoft.icon"
      href="/favicon.ico"
    />
  </head>

  <body class="storybook">
    <main>
      <div class="sidebar">
        {% include_relative /storybook-sidebar.md %}
      </div>
      <div class="content">
        <hr />
        <h1 class="page-title">Swift.org Storybook</h1>
        {{content}}
        <div class="footer">
          <p>
            Copyright © {{ site.time | date: '%Y' }} Apple Inc. All rights reserved.
          </p>
          <p>
            Swift and the Swift logo are trademarks of Apple Inc.
          </p>
        </div>
      </div>
    </main>
  </body>
  <script>
    const copyButtons = document.querySelectorAll('.copy-code');

    copyButtons.forEach(button => {
      button.addEventListener('click', () => {
        const codeBlock = button.parentNode.nextElementSibling;

        if (codeBlock) {
          const code = codeBlock.innerText.trim();

          navigator.clipboard.writeText(code)
            .then(() => {
              button.textContent = 'Copied!';
              setTimeout(() => {
                button.textContent = 'Copy Code';
              }, 1000);
            })
            .catch(err => {
              console.error('Failed to copy code:', err);
            });
        }
      });
    });

    const toggleViewportButtons = document.querySelectorAll('.viewport');

    toggleViewportButtons.forEach(button => {
      button.addEventListener('click', () => {
        const renderBlock = button.parentNode.nextElementSibling;

        if (renderBlock) {
          renderBlock.classList.toggle('storybook-viewport-mobile');
        }
      });
    });

    const toggleThemeButtons = document.querySelectorAll('.theme');

    toggleThemeButtons.forEach(button => {
      button.addEventListener('click', () => {
        const renderBlock = button.parentNode.nextElementSibling;

        if (renderBlock) {
          renderBlock.classList.toggle('storybook-dark-theme');
        }
      });
    });
  </script>
</html>
