@mixin color-vars-dark() {
  --color-nav-background: var(--color-fill-tertiary);
  --color-nav-rule: #{dark-color(fill-gray-tertiary)};
  --color-active-menu-group: #{light-color(fill-tertiary)};

  --color-fill: #{dark-color(fill)};
  --color-fill-secondary: #{dark-color(fill-secondary)};
  --color-fill-tertiary: #{dark-color(fill-tertiary)};
  --color-fill-blue: #{dark-color(fill-blue)};
  --color-fill-gray: #{dark-color(fill-gray)};
  --color-fill-gray-secondary: #{dark-color(fill-gray-secondary)};
  --color-fill-green-secondary: #{dark-color(fill-green-secondary)};
  --color-fill-orange-secondary: #{dark-color(fill-orange-secondary)};
  --color-fill-red-secondary: #{dark-color(fill-red-secondary)};
  --color-figure-blue: #{dark-color(figure-blue)};
  --color-figure-gray: #{dark-color(figure-gray)};
  --color-figure-gray-secondary: #{dark-color(figure-gray-secondary)};
  --color-figure-gray-secondary-alt: #{dark-color(figure-gray-secondary-alt)};
  --color-figure-gray-tertiary: #{dark-color(figure-gray-tertiary)};
  --color-figure-green: #{dark-color(figure-green)};
  --color-figure-light-gray: #{dark-color(figure-light-gray)};
  --color-figure-orange: #{dark-color(figure-orange)};
  --color-figure-red: #{dark-color(figure-red)};
  --color-tutorials-teal: #{dark-color(tutorials-teal)};

  --color-article-body-background: rgb(17, 17, 17);
  --color-button-background-active: #{dark-color(fill-blue)};
  --color-dropdown-background: var(--color-dropdown-dark-background);
  --color-dropdown-border: var(--color-dropdown-dark-border);
  --color-dropdown-option-text: var(--color-dropdown-dark-option-text);
  --color-dropdown-text: var(--color-dropdown-dark-text);
  --color-nav-color: var(--color-nav-dark-color);
  --color-nav-current-link: var(--color-nav-dark-current-link);
  --color-nav-expanded: var(--color-nav-dark-expanded);
  --color-nav-hierarchy-collapse-background: var(--color-nav-dark-hierarchy-collapse-background);
  --color-nav-hierarchy-collapse-borders: var(--color-nav-dark-hierarchy-collapse-borders);
  --color-nav-hierarchy-item-borders: var(--color-nav-dark-hierarchy-item-borders);
  --color-nav-keyline: var(--color-nav-dark-keyline);
  --color-nav-link-color: var(--color-nav-dark-link-color);
  --color-nav-link-color-hover: var(--color-nav-dark-link-color-hover);
  --color-nav-outlines: var(--color-nav-dark-outlines);
  // --color-nav-rule: var(--color-nav-dark-rule);
  --color-nav-solid-background: var(--color-nav-dark-solid-background);
  --color-nav-sticking-expanded-keyline: var(--color-nav-dark-sticking-expanded-keyline);
  --color-nav-stuck: var(--color-nav-dark-stuck);
  --color-nav-uiblur-expanded: var(--color-nav-dark-uiblur-expanded);
  --color-nav-uiblur-stuck: var(--color-nav-dark-uiblur-stuck);
  --color-runtime-preview-disabled-text: #{change-color(dark-color(figure-gray-secondary), $alpha: 0.6)};
  --color-syntax-attributes: rgb(204, 151, 104);
  --color-syntax-characters: rgb(217, 201, 124);
  --color-syntax-comments: rgb(127, 140, 152);
  --color-syntax-documentation-markup: rgb(127, 140, 152);
  --color-syntax-documentation-markup-keywords: rgb(163, 177, 191);
  --color-syntax-keywords: rgb(255, 122, 178);
  --color-syntax-marks: rgb(255, 255, 255);
  --color-syntax-numbers: rgb(217, 201, 124);
  --color-syntax-other-class-names: rgb(218, 186, 255);
  --color-syntax-other-constants: rgb(167, 235, 221);
  --color-syntax-other-declarations: rgb(78, 176, 204);
  --color-syntax-other-function-and-method-names: rgb(178, 129, 235);
  --color-syntax-other-instance-variables-and-globals: rgb(178, 129, 235);
  --color-syntax-other-preprocessor-macros: rgb(255, 161, 79);
  --color-syntax-other-type-names: rgb(218, 186, 255);
  --color-syntax-param-internal-name: rgb(191, 191, 191);
  --color-syntax-plain-text: rgb(255, 255, 255);
  --color-syntax-preprocessor-statements: rgb(255, 161, 79);
  --color-syntax-project-class-names: rgb(172, 242, 228);
  --color-syntax-project-constants: rgb(120, 194, 179);
  --color-syntax-project-function-and-method-names: rgb(120, 194, 179);
  --color-syntax-project-instance-variables-and-globals: rgb(120, 194, 179);
  --color-syntax-project-preprocessor-macros: rgb(255, 161, 79);
  --color-syntax-project-type-names: rgb(172, 242, 228);
  --color-syntax-strings: rgb(255, 129, 112);
  --color-syntax-type-declarations: rgb(107, 223, 255);
  --color-syntax-urls: rgb(102, 153, 255);
  --color-tutorial-background: var(--color-fill-tertiary);

  --color-term-normal: var(--color-text);
  --color-term-background: var(--color-code-background);
  --color-term-red: rgb(194,54,33);
  --color-term-green: rgb(37,188,36);
  --color-term-yellow: rgb(173,173,39);
  --color-term-blue: rgb(73,46,225);
  --color-term-magenta: rgb(211,56,211);
  --color-term-cyan: rgb(51,187,200);
  --color-term-white: rgb(203,204,205);
  --color-term-gray: rgb(129,131,131);
  --color-term-bright-red: rgb(252,57,31);
  --color-term-bright-green: rgb(49,231,34);
  --color-term-bright-yellow: rgb(234,236,35);
  --color-term-bright-blue: rgb(88,51,255);
  --color-term-bright-magenta: rgb(249,53,248);
  --color-term-bright-cyan: rgb(20,240,240);
  --color-term-bright-white: rgb(233,235,235);
  --color-term-highlight-background: rgb(30,30,30);
}
