@use 'sass:color';
@use '../_colors' as funcolors;

@mixin color-vars-light() {
  --color-nav-background: var(--color-fill-secondary);
  --color-nav-rule: rgb(230, 230, 230);
  --color-active-menu-group: #{funcolors.dark-color(fill-tertiary)};
  --color-active-nav-item: #{funcolors.light-color(swift-orange)};
  --color-fill: #{funcolors.light-color(fill)};
  --color-fill-secondary: #{funcolors.light-color(fill-secondary)};
  --color-fill-tertiary: #{funcolors.light-color(fill-tertiary)};
  --color-fill-quaternary: #{funcolors.light-color(fill-quaternary)};
  --color-fill-blue: #{funcolors.light-color(fill-blue)};
  --color-fill-gray: #{funcolors.light-color(fill-gray)};
  --color-fill-gray-secondary: #{funcolors.light-color(fill-gray-secondary)};
  --color-fill-green-secondary: #{funcolors.light-color(fill-green-secondary)};
  --color-fill-orange-secondary: #{funcolors.light-color(fill-orange-secondary)};
  --color-fill-red-secondary: #{funcolors.light-color(fill-red-secondary)};
  --color-figure-blue: #{funcolors.light-color(figure-blue)};
  --color-figure-gray: #{funcolors.light-color(figure-gray)};
  --color-figure-gray-secondary: #{funcolors.light-color(figure-gray-secondary)};
  --color-figure-gray-tertiary: #{funcolors.light-color(figure-gray-tertiary)};
  --color-figure-green: #{funcolors.light-color(figure-green)};
  --color-figure-light-gray: #{funcolors.light-color(figure-light-gray)};
  --color-figure-orange: #{funcolors.light-color(figure-orange)};
  --color-figure-red: #{funcolors.light-color(figure-red)};
  --color-tutorials-teal: #{funcolors.light-color(tutorials-teal)};

  --color-banner-foreground: rgb(222, 75, 52);
  --color-banner-background: rgb(222, 75, 52, 0.1);
  --color-banner-border: rgb(222, 75, 52, 0.15);
  --color-banner-detail: rgb(222, 75, 52, 0.5);

  --color-article-background: var(--color-fill-tertiary);
  --color-article-body-background: var(--color-fill);
  --color-aside-deprecated: var(--color-figure-gray);
  --color-aside-deprecated-background: var(--color-fill-orange-secondary);
  --color-aside-deprecated-border: var(--color-figure-orange);
  --color-aside-experiment: var(--color-figure-gray);
  --color-aside-experiment-background: var(--color-fill-gray-secondary);
  --color-aside-experiment-border: var(--color-figure-light-gray);
  --color-aside-important: var(--color-figure-gray);
  --color-aside-important-background: var(--color-fill-gray-secondary);
  --color-aside-important-border: var(--color-figure-light-gray);
  --color-aside-note: var(--color-figure-gray);
  --color-aside-note-background: var(--color-fill-gray-secondary);
  --color-aside-note-border: var(--color-figure-light-gray);
  --color-aside-tip: var(--color-figure-gray);
  --color-aside-tip-background: var(--color-fill-gray-secondary);
  --color-aside-tip-border: var(--color-figure-light-gray);
  --color-aside-warning: var(--color-figure-gray);
  --color-aside-warning-background: var(--color-fill-red-secondary);
  --color-aside-warning-border: var(--color-figure-red);
  --color-badge-default: var(--color-figure-light-gray);
  --color-badge-beta: var(--color-figure-gray-tertiary);
  --color-badge-deprecated: var(--color-figure-orange);
  --color-badge-dark-default: #{funcolors.dark-color(figure-light-gray)};
  --color-badge-dark-beta: #{funcolors.dark-color(figure-gray-tertiary)};
  --color-badge-dark-deprecated: #{funcolors.dark-color(figure-orange)};
  --color-button-background: var(--color-fill-blue);
  --color-button-background-active: #{funcolors.light-color(figure-blue)};
  --color-button-background-hover: var(--color-figure-blue);
  --color-button-text: #{funcolors.light-color(fill)};
  --color-call-to-action-background: var(--color-fill-secondary);
  --color-changes-added: var(--color-figure-light-gray);
  --color-changes-added-hover: var(--color-figure-light-gray);
  --color-changes-deprecated: var(--color-figure-light-gray);
  --color-changes-deprecated-hover: var(--color-figure-light-gray);
  --color-changes-modified: var(--color-figure-light-gray);
  --color-changes-modified-hover: var(--color-figure-light-gray);
  --color-changes-modified-previous-background: var(
    --color-fill-gray-secondary
  );
  --color-code-background: var(--color-fill-secondary);
  --color-code-collapsible-background: var(--color-fill-tertiary);
  --color-code-collapsible-text: var(--color-figure-gray-tertiary);
  --color-code-plain: var(--color-figure-gray);
  --color-content-table-content-color: var(--color-fill-secondary);
  --color-dropdown-background: hsl(
    hue(light-color(fill)),
    saturation(light-color(fill)),
    lightness(light-color(fill)) - 20%
  );
  --color-dropdown-border: #{light-color(fill-gray)};
  --color-dropdown-option-text: #{light-color(figure-gray-secondary)};
  --color-dropdown-text: #{light-color(figure-gray)};
  --color-dropdown-dark-background: hsl(
    hue($fill-light),
    saturation($fill-light),
    lightness($fill-light) - 90%
  );
  --color-dropdown-dark-border: hsl(
    hue($fill-gray-tertiary-light),
    saturation($fill-gray-tertiary-light),
    lightness($fill-gray-tertiary-light) - 80%
  );
  --color-dropdown-dark-option-text: #{dark-color(figure-gray-secondary)};
  --color-dropdown-dark-text: #{dark-color(figure-gray)};
  --color-eyebrow: var(--color-figure-gray-secondary);
  --color-focus-border-color: var(--color-fill-blue);
  --color-focus-color: rgba(0, 125, 250, 0.6);
  --color-form-error: var(--color-figure-red);
  --color-form-error-background: var(--color-fill-red-secondary);
  --color-form-valid: var(--color-figure-green);
  --color-form-valid-background: var(--color-fill-green-secondary);
  --color-generic-modal-background: var(--color-fill);
  --color-grid: var(--color-fill-gray);
  --color-header-text: var(--color-figure-gray);
  --color-hero-eyebrow: #{funcolors.dark-color(figure-gray-secondary)};
  --color-link: var(--color-figure-blue);
  --color-loading-placeholder-background: var(--color-fill);
  --color-nav-color: #{funcolors.light-color(figure-gray-tertiary)};
  --color-nav-current-link: #{color.adjust(
      funcolors.light-color(figure-gray),
      $alpha: 0.6
    )};
  --color-nav-expanded: #{funcolors.light-color(fill)};
  --color-nav-hierarchy-collapse-background: #{funcolors.light-color(fill-gray-tertiary)};
  --color-nav-hierarchy-collapse-borders: #{funcolors.dark-color(figure-gray-secondary)};
  --color-nav-hierarchy-item-borders: #{funcolors.dark-color(figure-gray-secondary)};
  --color-nav-keyline: #{color.adjust(funcolors.light-color(figure-gray), $alpha: 0.2)};
  --color-nav-link-color: #{funcolors.light-color(figure-gray)};
  --color-nav-link-color-hover: #{funcolors.light-color(figure-blue)};
  --color-nav-outlines: #{funcolors.light-color(fill-gray)};
  // --color-nav-rule: #{color.adjust(funcolors.light-color(fill-gray-tertiary), $alpha: 0.5)};
  --color-nav-solid-background: #{funcolors.light-color(fill)};
  --color-nav-sticking-expanded-keyline: #{color.adjust(
      funcolors.light-color(figure-gray),
      $alpha: 0.1
    )};
  --color-nav-stuck: #{color.adjust(funcolors.light-color(fill), $alpha: 0.9)};
  --color-nav-uiblur-expanded: #{color.adjust(funcolors.light-color(fill), $alpha: 0.9)};
  --color-nav-uiblur-stuck: #{color.adjust(funcolors.light-color(fill), $alpha: 0.7)};
  --color-nav-root-subhead: var(--color-tutorials-teal);
  --color-nav-dark-border-top-color: #{color.adjust(
      funcolors.light-color(fill),
      $alpha: 0.4
    )};
  --color-nav-dark-color: #{funcolors.dark-color(figure-gray-tertiary)};
  --color-nav-dark-current-link: #{color.adjust(
      funcolors.dark-color(figure-gray),
      $alpha: 0.6
    )};
  --color-nav-dark-expanded: #{funcolors.dark-color(fill-tertiary)};
  --color-nav-dark-hierarchy-collapse-background: #{funcolors.dark-color(
      fill-gray-tertiary
    )};
  --color-nav-dark-hierarchy-collapse-borders: #{funcolors.light-color(
      figure-gray-secondary
    )};
  --color-nav-dark-hierarchy-item-borders: #{funcolors.dark-color(fill-gray-tertiary)};
  --color-nav-dark-keyline: #{color.adjust(
      funcolors.dark-color(fill-gray-tertiary),
      $alpha: 0.95
    )};
  --color-nav-dark-link-color: #{funcolors.dark-color(figure-gray)};
  --color-nav-dark-link-color-hover: #{funcolors.dark-color(figure-blue)};
  --color-nav-dark-outlines: #{funcolors.dark-color(fill-gray)};
  --color-nav-dark-rule: #{funcolors.dark-color(fill-gray)};
  --color-nav-dark-solid-background: #{funcolors.dark-color(fill)};
  --color-nav-dark-sticking-expanded-keyline: #{color.adjust(
      funcolors.dark-color(fill-gray-tertiary),
      $alpha: 0.7
    )};
  --color-nav-dark-stuck: #{color.adjust(funcolors.dark-color(fill-tertiary), $alpha: 0.9)};
  --color-nav-dark-uiblur-expanded: #{color.adjust(
      funcolors.dark-color(fill-tertiary),
      $alpha: 0.9
    )};
  --color-nav-dark-uiblur-stuck: #{color.adjust(
      funcolors.dark-color(fill-tertiary),
      $alpha: 0.7
    )};
  --color-nav-dark-root-subhead: #{funcolors.dark-color(tutorials-teal)};
  --color-runtime-preview-background: var(--color-fill-tertiary);
  --color-runtime-preview-disabled-text: #{color.adjust(
      funcolors.light-color(figure-gray-secondary),
      $alpha: 0.6
    )};
  --color-runtime-preview-text: var(--color-figure-gray-secondary);
  --color-secondary-label: var(--color-figure-gray-secondary);
  --color-step-background: var(--color-fill-secondary);
  --color-step-caption: var(--color-figure-gray-secondary);
  --color-step-focused: var(--color-figure-light-gray);
  --color-step-text: var(--color-figure-gray-secondary);
  --color-svg-icon: #{funcolors.light-color(figure-gray-secondary)};
  --color-syntax-attributes: rgb(148, 113, 0);
  --color-syntax-characters: rgb(39, 42, 216);
  --color-syntax-comments: rgb(112, 127, 140);
  --color-syntax-documentation-markup: rgb(80, 99, 117);
  --color-syntax-documentation-markup-keywords: rgb(80, 99, 117);
  --color-syntax-heading: rgb(186, 45, 162);
  --color-syntax-keywords: rgb(173, 61, 164);
  --color-syntax-marks: rgb(0, 0, 0);
  --color-syntax-numbers: rgb(39, 42, 216);
  --color-syntax-other-class-names: rgb(112, 61, 170);
  --color-syntax-other-constants: rgb(75, 33, 176);
  --color-syntax-other-declarations: rgb(4, 124, 176);
  --color-syntax-other-function-and-method-names: rgb(75, 33, 176);
  --color-syntax-other-instance-variables-and-globals: rgb(112, 61, 170);
  --color-syntax-other-preprocessor-macros: rgb(120, 73, 42);
  --color-syntax-other-type-names: rgb(112, 61, 170);
  --color-syntax-param-internal-name: rgb(64, 64, 64);
  --color-syntax-plain-text: rgb(0, 0, 0);
  --color-syntax-preprocessor-statements: rgb(120, 73, 42);
  --color-syntax-project-class-names: rgb(62, 128, 135);
  --color-syntax-project-constants: rgb(45, 100, 105);
  --color-syntax-project-function-and-method-names: rgb(45, 100, 105);
  --color-syntax-project-instance-variables-and-globals: rgb(62, 128, 135);
  --color-syntax-project-preprocessor-macros: rgb(120, 73, 42);
  --color-syntax-project-type-names: rgb(62, 128, 135);
  --color-syntax-strings: rgb(209, 47, 27);
  --color-syntax-type-declarations: rgb(3, 99, 140);
  --color-syntax-urls: rgb(19, 55, 255);
  --color-tabnav-item-border-color: var(--color-fill-gray);
  --color-text: var(--color-figure-gray);
  --color-text-background: var(--color-fill);
  --color-tutorial-assessments-background: var(--color-fill-secondary);
  --color-tutorial-background: var(--color-fill);
  --color-tutorial-navbar-dropdown-background: var(--color-fill);
  --color-tutorial-navbar-dropdown-border: var(--color-fill-gray);
  --color-tutorial-quiz-border-active: var(--color-figure-blue);
  --color-tutorials-overview-background: #{funcolors.dark-color(fill-secondary)};
  --color-tutorials-overview-content: #{funcolors.dark-color(figure-gray)};
  --color-tutorials-overview-content-alt: #{funcolors.dark-color(figure-gray)};
  --color-tutorials-overview-eyebrow: #{funcolors.dark-color(figure-gray-secondary)};
  --color-tutorials-overview-icon: #{funcolors.dark-color(figure-light-gray)};
  --color-tutorials-overview-link: #{funcolors.dark-color(figure-blue)};
  --color-tutorials-overview-navigation-link: #{funcolors.dark-color(
      figure-gray-secondary
    )};
  --color-tutorials-overview-navigation-link-active: #{funcolors.dark-color(figure-gray)};
  --color-tutorials-overview-navigation-link-hover: #{funcolors.dark-color(figure-gray)};
  --color-tutorial-hero-text: #{funcolors.dark-color(figure-gray)};
  --color-tutorial-hero-background: #{funcolors.dark-color(fill)};
  --color-evolution-secondary-fill: var(--color-figure-light-gray);

  --color-term-normal: var(--color-text);
  --color-term-background: var(--color-code-background);
  --color-term-red: rgb(194, 54, 33);
  --color-term-green: rgb(37, 188, 36);
  --color-term-yellow: rgb(173, 173, 39);
  --color-term-blue: rgb(73, 46, 225);
  --color-term-magenta: rgb(211, 56, 211);
  --color-term-cyan: rgb(51, 187, 200);
  --color-term-white: rgb(175, 175, 175);
  --color-term-gray: rgb(129, 131, 131);
  --color-term-bright-red: rgb(252, 57, 31);
  --color-term-bright-green: rgb(49, 231, 34);
  --color-term-bright-yellow: rgb(234, 236, 35);
  --color-term-bright-blue: rgb(88, 51, 255);
  --color-term-bright-magenta: rgb(249, 53, 248);
  --color-term-bright-cyan: rgb(20, 200, 200);
  --color-term-bright-white: rgb(255, 255, 255);
  --color-term-highlight-background: rgb(195, 195, 195);
}
