@use 'reset';
@use 'print';
@use 'graphics' as *;
@use 'fonts';

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #051416;
}

.body-copy {
  line-height: 1.53;
  font-size: 17px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: 'Anonymous Pro';
}
