$pattern: url('/assets/images/icon-swift.svg');
$menu-icon: url('/assets/images/icon-menu.svg');
$menu-icon-close: url('/assets/images/icon-close.svg');
$icon-x: url('/assets/images/icon-x.svg');
$icon-mastodon: url('/assets/images/icon-mastodon.svg');
$icon-bluesky: url('/assets/images/icon-bluesky.svg');
$icon-feed: url('/assets/images/icon-feed.svg');
$icon-github: url('/assets/images/icon-github.svg');
