@import "layout/colors";
@import "layout/font";
@import "layout/structure";

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $white;
    font-family: $font-family-base;
    line-height: $font-line-height-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    margin: $margins-layout;
    width: $width-layout;
}
