@import "utils/colors";
@import "utils/font";
@import "utils/structure";
@import "utils/styling";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: $white;
  font-family: $font-family-base;
  line-height: $font-line-height-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

h1 {
  font-size: $font-size-big;
  line-height: 1.2em;
  margin-bottom: 30px;
}

h2 {
  font-size: $font-size-medium;
  line-height: 1.2em;
  margin-bottom: 14px;
}

h3 {
  font-size: $font-size-medium-small;
  line-height: 1.2em;
  margin-bottom: 20px;
}

.grid-1-cols {
  @include one-column-grid;
}

.grid-2-cols {
  @include two-columns-grid;
}

.grid-3-cols {
  @include three-columns-grid;
}

.grid-4-cols {
  @include four-columns-grid;
}

p > code {
  white-space: pre-wrap;
  word-break: break-word;
  padding: 0 6px;
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: $white;
  font-family: $font-family-code;
  font-size: $font-size-base;
}
