@import "layout/colors";
@import "layout/font";
@import "layout/structure";

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $white;
    font-family: $font-family-base;
    line-height: $font-line-height-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.grid-1-col {
    @include grid($width-layout, 0)
}

.grid-2-cols {
    @include grid($width-column, $gap-column)
}

.grid-3-cols {
    @include grid($width-column-medium, $gap-column-medium)
}

.grid-4-cols {
    @include grid($width-column-small, $gap-column-small)
}
