@use "../syntax-tokens" as tokens;

[class^='language-'] .highlight,
.code-box pre {
  position: relative;

  button {
    position: absolute;
    top: 1em;
    right: 1em;
    background: none;
    border: medium;
    cursor: pointer;
    padding: 7px 6px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    display: none;
    background-color: var(--color-syntax-clipboard-bg);

    svg {
      width: 20px;
      height: 20px;
      opacity: 0.8;
    }

    &.copied {
      svg {
        color: var(--color-syntax-clipboard-check-color);
      }
    }

    &:hover {
      background-color: var(--color-syntax-clipboard-hover-bg);

      svg {
        opacity: 1;
      }
    }
  }

  &:hover {
    button {
      display: flex;
    }
  }
}

pre.highlight {
  background: var(--color-code-background);
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;

  @include tokens.hljs-tokens;
}

.language-console {
  color: var(--color-syntax-plain-text);
}

@include tokens.hljs-c-family-overrides;
