// Typography utility classes

.title-1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
}

.title-2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
}

.title-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

.title-4 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.body {
  line-height: 1.53;
  font-weight: 400;
  font-size: 17px;
}
