# Temporary files.
*~

# Xcode user data.
xcuserdata

# Finder metadata
.DS_Store

# Built site content.
/_site

# Temporary Jekyll files
.jekyll-metadata
.jekyll-cache

# Asset Cache
.asset-cache

# Build output
.output

# VS Code files
.vscode

# Prettier
.prettierrc
.prettierignore
