{
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html",
        "**/*.js"
      ],
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
