# This file is a list of the people responsible for ensuring that patches for a
# particular part of Swift.org are reviewed, either by themselves or by someone else.
# They are also the gatekeepers for their part of Swift.org, with the final word on
# what goes in or not.
#
# The list is sorted by surname and formatted to allow easy grepping and
# beautification by scripts.  The fields are: name (N), email (E), web-address
# (W), PGP key ID and fingerprint (P), description (D), and snail-mail address
# (S).

# N: Alex Martini
# E: amartini@apple.com
# D: Apple

# N: Ben Cohen
# E: ben_cohen@apple.com
# D: Apple, Swift core team

# N: Christopher Thielen
# E: c_thielen@apple.com
# D: Apple
 
# N: Mishal Shah
# E: mishal_shah@apple.com
# D: Apple, Swift core team

# N: Ted Kremenek
# E: kremenek@apple.com
# D: Apple, Swift core team

# N: Tim Triemstra
# E: timt@apple.com
# D: Apple

# N: Tom Doron
# E: tomer@apple.com
# D: Apple, Swift core team

###

# The following lines are used by GitHub to automatically recommend reviewers.

* @0xTim @alexandersandberg @daveverwer @dempseyatgithub @kaishin @krstnfx @mschinis @shahmishal @TimTr @twostraws @tomerd @cthielen

/_posts/* @cthielen @TimTr @tkremenek @tomerd
