.go-further-list,
.install-instruction {
  $grid-breakpoint: 1000px;
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 1rem;

  .resource {
    border: 1px solid var(--color-fill-tertiary);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    @media (min-width: $grid-breakpoint) {
      &.featured {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    h3 {
      padding-top: 0;
    }

    h4 {
      font-size: 0.8rem;
      color: var(--color-secondary-label);
      border: none;
      padding: 0.5rem 0 0.125rem;
    }

    .description {
      flex-grow: 1;
      color: var(--color-secondary-label);
    }

    .thumbnail {
      border-radius: 8px;
      border: 1px solid var(--color-fill-gray);
      margin-bottom: 1rem;
    }
  }

  @media (min-width: $grid-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.use-case-list {
  $grid-breakpoint: 1000px;
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 1rem;

  .use-case {
    border: 1px solid var(--color-fill-tertiary);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    @media (min-width: $grid-breakpoint) {
      &.featured {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }

    h3 {
      line-height: 1.4;
      font-size: 1.4rem;
      padding-top: 0;
    }

    p {
      flex-grow: 1;
      color: var(--color-secondary-label);
    }
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

a.cta-secondary {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text);
  color: var(--color-text);
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: var(--color-text);
    color: var(--color-fill);
    text-decoration: none;
  }

  &.external:after {
    content: " ↗";
  }
}
