
.why-swift-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  gap: 1rem;

  li {
    border: 1px solid var(--color-fill-tertiary);
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    h3 {
      line-height: 1.4;
      font-size: 1.4rem;
      padding-top: 0;
    }

    p {
      flex-grow: 1;
      color: var(--color-secondary-label);
      margin-bottom: 0;
    }
  }
}

.link-grid {
  ul {
    display: grid;
    align-items: stretch;
    gap: 1rem;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 1000px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  li {
    list-style: none;
    padding-left: 0;
    display: flex;

    a {
      border-radius: var(--border-radius);
      border: 1px solid var(--color-text);
      color: var(--color-text);
      display: block;
      padding: .5rem 0;
      text-align: center;
      flex-grow: 1;

      .flex-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .latest-release-container {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      
      &:hover {
        background-color: var(--color-text);
        color: var(--color-fill);
        text-decoration: none;

        img {
          filter: invert(1);
        }

        .latest-release-container {
          span {
            border-color: var(--color-fill);
          }
        }
      }

      img {
        height: 64px;
        width: 64px;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.latest-release-container {
  span {
    padding: .2rem .5rem;
    border: 2px solid var(--color-text);
    font-weight: bold;
    border-radius: 4px;
  }
}

.use-cases, .getting-involved {
  list-style: none;
  display: grid;
  gap: 1rem;
  padding: 0;

  li {
    border: 1px solid var(--color-fill-tertiary);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;

    h3 {
      line-height: 1.4;
      font-size: 1.4rem;
      padding-top: 0;
    }

    p {
      flex-grow: 1;
      color: var(--color-secondary-label);
      margin-bottom: 0;
    }
  }

  .cta-secondary {
    margin-top: 1rem;
  }
}

.use-cases {
  @media (min-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.getting-involved,
.why-swift-list  {
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
