.cta {
  background-color: var(--color-fill-tertiary);
  border-radius: 0.5rem;
  padding: 1em;
}

.category-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @media only screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  li {
    padding: 15px;
    display: flex;
    flex-direction: column;

    p {
      color: var(--color-text);
    }

    h3 {
      line-height: 1.4;
      font-size: 1.4rem;
      padding-top: 0;
    }

    &.category {
      border: 1px solid var(--color-fill-tertiary);
      border-radius: 4px;

      h3 {
        color: var(--color-link);
      }

      a:hover {
        text-decoration: none;

        h3 {
          text-decoration: underline;
        }

        p {
          color: var(--color-secondary-label);
        }
      }
    }

    @media only screen and (min-width: 767px) {
      &:first-child {
        grid-column: span 2;
      }
    }
  }
}

.package-list {
  nav {
    padding-bottom: 20px;

    a[rel="parent"]::before {
      content: "â† ";
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 40px;
    padding: 30px 0;
    list-style: none;

    @media only screen and (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    li {
      display: grid;

      &.with-note {
        grid-template-rows: 5fr 1fr;
        gap: 5px;
      }

      > a {
        display: flex;
        flex-direction: column;
        color: inherit;
        height: 100%;

        &:hover {
          text-decoration: none;

          h4 {
            background-image: url("/assets/images/icon-external-color.svg");

            .name {
              color: var(--color-link);
              text-decoration: underline;
            }
          }
        }
      }

      h4 {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
        background-image: url("/assets/images/icon-external.svg");
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: top 15px right;

        .name {
          padding-right: 20px;
        }

        .owner {
          font-size: 16px;
        }
      }

      .description {
        flex-grow: 1;
        font-size: 16px;

        > p {
          // Even though this looks specific to WebKit, it works in Safari, Chrome, and Firefox.
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 6;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .metadata {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        gap: 10px;

        .lozenge {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          border: 1px black solid;
          font-size: 12px;
          line-height: 1;
          white-space: nowrap;

          > span {
            padding: 4px 5px;
          }

          &.platform-compatibility {
            color: #007aff;
            border-color: #007aff;

            > span:not(:last-child) {
              border-right: 1px solid #007aff;
            }
          }

          &.swift-compatibility {
            color: #f05138;
            border-color: #f05138;

            > span {
              padding-left: 22px;
              background-image: url("/assets/images/icon-swift-color.svg");
              background-repeat: no-repeat;
              background-position: 3px center;
              background-size: 13px;
            }
          }

          &.license {
            grid-column: 4;
            color: #3ea639;
            border-color: #3ea639;
          }
        }
      }

      .note {
        p {
          font-size: 12px;
          margin-top: 10px;
          margin-bottom: 0;
          color: #666666;
        }
      }
    }
  }
}
