ul.package-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 0 0 25px;
  list-style: none;

  > li {
    display: flex;
    flex-direction: column;

    a {
      color: inherit;

      &:hover {
        text-decoration: none;

        h4 > p {
          color: var(--color-link);
          text-decoration: underline;
        }
      }
    }

    h4 {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      p {
        margin: 0;
      }

      picture {
        display: inline-block;

        > img {
          width: inherit;
        }
      }
    }

    section {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 40px;

      .description > p {
        // Even though this looks specific to WebKit, it works in Safari, Chrome, and Firefox.
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .activity {
        font-size: 16px;
        color: var(--color-secondary-label);
      }

      ul.metadata {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
        list-style: none;
      }
    }
  }
}

ul.package-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;

    .description {
      flex-grow: 1;
    }
  }

  p.metadata-link {
    text-align: right;
  }
}

ul.package-list-alternate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 40px;
  padding: 0;
  list-style: none;

  li {
    > a {
      display: flex;
      flex-direction: column;
      color: inherit;
      height: 100%;

      &:hover {
        text-decoration: none;

        .package-name {
          color: var(--color-link);
          text-decoration: underline;
          background-image: url("/assets/images/icon-external-color.svg");
        }
      }
    }

    h4 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;

      .package-name {
        padding-right: 18px;
        background-image: url("/assets/images/icon-external.svg");
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: top 3px right;
      }

      .stars {
        font-size: 18px;

        picture {
          display: inline-block;

          > img {
            width: inherit;
          }
        }
      }
    }

    .description {
      flex-grow: 1;
      font-size: 16px;

      > p {
        // Even though this looks specific to WebKit, it works in Safari, Chrome, and Firefox.
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .metadata {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: 1px black solid;
        font-size: 12px;
        line-height: 1;
        white-space: nowrap;

        > span {
          padding: 4px 5px;
        }

        &.platform-compatibility {
          color: #007aff;
          border-color: #007aff;

          > span:not(:last-child) {
            border-right: 1px solid #007aff;
          }
        }

        &.swift-compatibility {
          color: #f05138;
          border-color: #f05138;

          > span {
            padding-left: 22px;
            background-image: url("/assets/images/icon-swift-color.svg");
            background-repeat: no-repeat;
            background-position: 3px center;
            background-size: 13px;
          }
        }
      }
    }

    .showcase-reason {
      p {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}

p.more {
  text-align: right;
}
