<footer role="contentinfo">
  <div class="footer-content">
    {{ include.licenseinfo }}
    <p class="copyright">版权所有 © {{ site.time | date: '%Y' }} SwiftGG 翻译组 ｜ 翻译自 <a href="https://swift.org">Swift.org</a></p>
    <p class="trademark">Swift 和 Swift 标识是 Apple Inc. 的注册商标。</p>
    <p class="privacy">
      <a href="//www.apple.com/privacy/privacy-policy/">隐私政策（英文）</a>
      <a href="//www.apple.com/legal/privacy/en-ww/cookies/">使用条款（英文）</a>
    </p>
  </div>
  <div class="footer-other">
    <form
      class="color-scheme-toggle"
      role="radiogroup"
      tabindex="0"
      id="color-scheme-toggle"
    >
      <legend class="visuallyhidden">主题选择器</legend>
      <label for="scheme-light">
        <input id="scheme-light" type="radio" name="color-scheme-preference" value="light">
        <span class="color-scheme-toggle-label">明亮</span>
      </label>
      <label for="scheme-dark">
        <input id="scheme-dark" type="radio" name="color-scheme-preference" value="dark">
        <span class="color-scheme-toggle-label">黑暗</span>
      </label>
      <label for="scheme-auto" id="scheme-auto-wrapper">
        <input id="scheme-auto" type="radio" name="color-scheme-preference" value="auto">
        <span class="color-scheme-toggle-label">自动</span>
      </label>
    </form>
    <!-- <aside>
      <a href="https://twitter.com/swiftlang" rel="nofollow" title="Follow @SwiftLang on Twitter"><i class="twitter"></i></a>
      <a href="/atom.xml" title="Subscribe to Site Updates"><i class="feed"></i></a>
    </aside> -->
  </div>
</footer>
