<nav role="navigation">
  <div class="nav-menu-container">
    <header class="menu-item logo-container" role="banner">
      <h1 id="logo">
        <a href="/" title="Swift.org" role="img" aria-label="Swift.org">
          Swift.org
        </a>
      </h1>
    </header>
    <div id="menu-toggle" class="menu-item menu-toggle open"></div>
  </div>

  <div class="list-items">
    {% for nav in site.data.navigation %}
    {% if nav.header %}
    <h2>{{ nav.header }}</h2>
    {% endif %}
    <ul>
      {% for navpage in nav.pages %}
      {% if page.url == navpage.url %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
        <a href="{{ navpage.url }}">{{ navpage.title }}</a>
        {% if page.url == navpage.url and navpage.sections %}
        <ul>
          {% for section in navpage.sections %}
          <li><a href="{{ navpage.url }}#{{ section.name }}">{{ section.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</nav>
