<header class="site-navigation" role="navigation">
  <div class="wrapper">
    <h1 id="logo">
      <a href="/" title="Swift.org">
        {% include logo.html %}
      </a>
    </h1>

    <nav>
      <ul class="navigation-links">
        <li>
          <a href="/getting-started">Get Started</a>
        </li>

        {% for nav in site.data.navigation %}
          <li class="nav-dropdown">
            <span>
              {% if nav.url %}
                <a href="{{ nav.url }}">{{ nav.header }}</a>
              {% else %}
                {{ nav.header }}
              {% endif %}
              {% if nav.pages %}
                <i>&#9663;</i>
              {% endif %}
            </span>
            {% if nav.pages %}
              <ul class="nav-menu">
                {% for navpage in nav.pages %}
                  {% if navpage.section %}
                    <li class="nav-section">{{ navpage.section }}</li>
                  {% else %}
                    {% if page.url == navpage.url %}
                      <li class="active">
                    {% else %}
                      <li>
                    {% endif %}
                      <a href="{{ navpage.url }}">{{ navpage.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}

        <li>
          <a href="/blog">Blog</a>
        </li>

        <li class="cta">
          <a href="/install">Download <strong>5.9.1</strong></a>
        </li>
      </ul>
    </nav>
  </div>
 </header>
