@use "../utils/font" as font;
@use "../utils/layout" as layout;

footer {
  line-height: font.$font-line-height-small;
  font-size: font.$font-size-small;
  padding: 20px 0;

  @include layout.section-width(layout.$width-page-wrapper, layout.$margins-layout);

  .theme-switch {
    img {
      width: 32px;
    }

    .on {
      filter: invert(1);
    }
  }
}
