footer {
  line-height: $font-line-height-small;
  font-size: $font-size-small;
  padding: 20px 0;

  @include section-width($width-page-wrapper, $margins-layout);

  .theme-switch {
    img {
      width: 32px;
    }

    .on {
      filter: invert(1);
    }
  }
}
