$height-header: 50px;

header {
  height: $height-header;
  padding: 1rem;

  @include section-width($width-layout, $margins-layout);

  @media (max-width: 1080px) {
    height: auto;
    padding: 1rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;

    @media (max-width: 1080px) {
      flex-direction: column;

      #menu-toggle + label {
        display: block !important;
        position: absolute;
        right: 20px;
        top: 20px;
      }

      .navigation-links {
        display: none !important;
      }

      #menu-toggle:checked + label + .navigation-links {
        display: block !important;
      }
    }

    #menu-toggle + label {
      display: none;
    }

    .navigation-links {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 0.3em;
        text-align: center;

        .active a {
          font-weight: 700;
        }

        a {
          display: inline-block;
        }

        a::before {
          display: block;
          content: attr(data-text);
          font-weight: bold;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }

        &.nav-section {
          font-size: 0.7rem;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 0.5rem;
          padding: 1rem 0 0.5rem;
        }

        &.nav-cta {
          margin-left: 1em;

          a {
            border-radius: 0.5rem;
            padding: 0.8em 0.9em;
            text-align: center;
          }
        }
      }

      .nav-item {
        &:hover {
          .nav-submenu {
            display: block;
          }
        }
      }

      .nav-submenu {
        display: none;
        position: absolute;
        background-color: var(--color-nav-background);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow:
          0 8px 32px rgba(0, 0, 0, 0.1),
          0 1px 3px rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        border: 1px solid var(--color-nav-rule);
        min-width: 160px;
        z-index: 1;
        list-style: none;
        padding: 1rem;
        animation: fade-in-down 0.3s;

        li {
          display: block;
          padding: 0;
          margin: 0;
          text-align: left;

          a {
            display: block;
            padding: 0.7em;
            border-radius: 8px;
            transition: all 0.1s ease;

            &:hover {
              background-color: rgba(gray, 0.1);
              box-shadow:
                0 8px 16px rgba(0, 0, 0, 0.05),
                0 1px 3px rgba(0, 0, 0, 0.08);
            }
          }
        }

        hr {
          border: none;
          border-top: 1px solid gray;
          margin: 0.5rem 0;
        }
      }
    }
  }

  #logo {
    background-image: url("/assets/images/new-images/logo-swift.png");
    background-repeat: no-repeat;
    background-size: 160px 50px;
    display: block;
    height: 50px;
    text-indent: -9999px;
    width: 160px;
  }
}
