.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25em;

  .badge {
    & > div {
      display: flex;
    }

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 1px $gray solid;
    }

    .name {
      font-size: 14px;
      font-weight: 400;
      padding: 4px 0 4px 10px;
    }
  }
}
