@use "../../utils/layout" as layout;
@use "../../utils/colors" as colors;
@use "../../utils/font" as font;

.banner {
  border-radius: layout.$border-radius-box;
  width: 100%;
  color: colors.$white;
  text-align: center;
  box-sizing: border-box;

  p {
    margin: 10px;
  }

  &.purple {
    border: 2px solid colors.$purple-light;
    border-radius: layout.$border-radius-button;
    background: colors.$purple-very-light;
    color: colors.$purple;

    a {
      color: colors.$purple;
      font-weight: font.$font-weight-heavy;
    }
  }
}
