@use "../../utils/colors" as colors;
@use "../../utils/layout" as layout;

.box-link {
  text-decoration: none;
}

.box {
  border: 1px solid colors.$black;
  border-radius: layout.$border-radius-box;
  width: 100%;
  color: colors.$black;
  text-decoration: none;
  padding: 20px;
  box-sizing: border-box;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }

  &.orange {
    border: 0;
    background-color: colors.$orange;
    color: colors.$white;
  }

  &.white {
    border-color: colors.$pink;
    color: colors.$gray;

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: colors.$orange;
    }
  }

  &.globe {
    background-image: url("/assets/images/new-images/image-globe.png");
    background-repeat: no-repeat;
    background-size: 182px 185px;
    background-position: top -40px right -40px;
  }
}
