@use "../../utils/colors" as colors;
@use "../../utils/font" as font;
@use "../../utils/layout" as layout;

.link {
  text-decoration: none;
  color: colors.$black;

  &.button {
    border-radius: layout.$border-radius-button;
    opacity: 1;
    background: colors.$white;
    padding: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: font.$font-weight-heavy;
    box-sizing: border-box;

    &.orange,
    &.black {
      color: colors.$white;
    }

    &.orange {
      background-image: linear-gradient(0deg, colors.$orange, colors.$orange-light);
    }

    &.black {
      background: colors.$black;
    }
  }

  &.text {
    color: colors.$black;
  }
}
