@use "../../utils/colors" as colors;
@use "../../utils/layout" as layout;

.section {
  background-color: colors.$white;
  color: colors.$black;
  padding: 20px 0;

  &.orange {
    background-color: colors.$orange;
    color: colors.$white;
  }

  &.purple {
    background-color: colors.$purple;
    color: colors.$white;
  }

  &.yellow {
    background-color: colors.$yellow-dark;
    color: colors.$black;
  }

  .content {
    @include layout.section-width(layout.$width-page-wrapper, layout.$margins-layout);
  }
}
