<footer role="contentinfo">
  <div class="footer-content">
    <p class="copyright">
      Copyright © {{ site.time | date: '%Y' }} Apple Inc. All rights reserved.
    </p>
    <p class="trademark">
      Swift and the Swift logo are trademarks of Apple Inc.
    </p>
    <p class="privacy">
      <a href="https://www.apple.com/privacy/privacy-policy/">Privacy Policy</a>
      <a href="https://www.apple.com/legal/privacy/en-ww/cookies/">Cookies</a>
    </p>
  </div>
  <div class="footer-other">
    <aside>
      <a href="https://twitter.com/swiftlang" rel="nofollow" title="Follow @SwiftLang on Twitter"><i class="twitter"></i></a>
      <a href="/atom.xml" title="Subscribe to Site Updates"><i class="feed"></i></a>
      <div class="theme-switch">
        {% include new-includes/components/toggle-button.html
          id="theme-toggle"
          img_on="/assets/images/new-images/icon-theme.svg"
          img_off="/assets/images/new-images/icon-theme.svg"
        %}
      </div>
    </aside>
  </div>
</footer>
