<header class="site-navigation">
  <div class="wrapper">
    <a href="/" title="Swift logo" id="logo"></a>

    <nav role="navigation">
      {% include new-includes/components/toggle-button.html
        id="menu-toggle"
        imgon="/assets/images/new-images/icon-close.svg"
        imgoff="/assets/images/new-images/icon-menu.svg"
      %}
      <ul class="navigation-links">
        {% for nav in site.data.navigation %}
          <li class="nav-item{% if nav.isCta %} nav-cta{% endif %}">
            {% if nav.isCta and nav.url %}
              <a href="{{ nav.url }}" data-text="{{ nav.header }}">{{ nav.header }}</a>
            {% else %}
              <span class="{% if page.url == nav.url %}active{% endif %}">
                {% if nav.url %}
                  <a href="{{ nav.url }}" data-text="{{ nav.header }}">{{ nav.header }}</a>
                {% else %}
                  {{ nav.header }}
                {% endif %}
              </span>
            {% endif %}
            {% if nav.pages %}
            <ul class="nav-submenu" role="menu">
              {% for navpage in nav.pages %}
                {% if navpage.section %}
                  <li class="nav-section">{{ navpage.section }}</li>
                {% else %}
                  <li role="presentation" class="{% if page.url == navpage.url %}active{% endif %}">
                    <a href="{{ navpage.url }}" role="menuitem">{{ navpage.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
