// Default callout banner
.banner {
  padding: 0.75rem 1.25rem;

  color: var(--color-text);
  border: 1px solid var(--color-fill-tertiary);
  background: var(--color-fill-secondary);
  border-radius: var(--border-radius);

  p {
    margin: 0;
  }
}

// Orange attention grabbing banner
.banner.primary {
  color: var(--color-banner-foreground);
  border: 1px solid var(--color-banner-border);
  background: var(--color-banner-background);
  font-weight: 500;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--color-banner-detail);
    text-underline-offset: 2px;

    &:hover {
      color: var(--color-banner-foreground);
    }
  }
}
