.interactive-tabs {
  .tabs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;

    // "a" used on install page, "button" used on packages package
    a,
    button {
      background-color: var(--color-fill-secondary);
      border: 1px solid var(--color-fill-tertiary);
      border-radius: var(--border-radius);
      color: var(--color-text);
      cursor: pointer;
      padding: 0.5rem;
      display: block;
      text-align: center;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);

      // FIXME: Sink prefers-contrast lower into the color stack so each element doesn't need to
      @media (prefers-contrast: more) {
        background-color: transparent;
        border: 1px solid var(--color-text);
      }

      &:hover {
        color: var(--color-link);
      }

      &[aria-pressed="true"] {
        color: var(--color-text);
        font-weight: 500;
      }

      &:hover,
      &[aria-pressed="true"] {
        background-color: var(--color-fill-tertiary);
        border: 1px solid var(--color-fill-quaternary);
        text-decoration: none;

        @media (prefers-contrast: more) {
          background-color: var(--color-text);
          color: var(--color-fill);
        }
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.interactive-tabs ~ [id] {
  scroll-margin-top: 5rem;
}
