<table>
  <thead>
    <tr>
      <th>Ubuntu 16.04</th>
      <th>Ubuntu 18.04</th>
      <th>Ubuntu 20.04</th>
      <th>CentOS 7</th>
      <th>CentOS 8</th>
      <th>Amazon Linux 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu1604.md %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu1804.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu2004.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/centos7.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/centos8.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/amazonlinux2.html %}</td>
    </tr>
  </tbody>
</table>
