<table>
  <thead>
    <tr>
      <th>Ubuntu 18.04</th>
      <th>Ubuntu 20.04</th>
      <th>Ubuntu 22.04</th>
      <th>CentOS 7</th>
      <th>Amazon Linux 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu1804.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu2004.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/ubuntu2204.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/centos7.html %}</td>
      <td style="padding: 0; vertical-align: top">{% include linux/amazonlinux2.html %}</td>
    </tr>
  </tbody>
</table>
