@use './_maps' as funmaps;

$base-colors: (
  swift-orange: (
    light: #f05138,
    dark: #f05138,
  ),
  figure-gray: (
    light: rgb(0, 0, 0),
    dark: rgb(255, 255, 255),
  ),
  figure-gray-secondary: (
    light: rgb(102, 102, 102),
    dark: rgb(204, 204, 204),
  ),
  figure-gray-tertiary: (
    light: rgb(102, 102, 102),
    dark: rgb(176, 176, 176),
  ),
  figure-blue: (
    light: rgb(51, 102, 255),
    dark: rgb(0, 153, 255),
  ),
  fill: (
    light: rgb(255, 255, 255),
    dark: rgb(0, 0, 0),
  ),
  fill-secondary: (
    light: rgb(247, 247, 247),
    dark: rgb(22, 22, 22),
  ),
  fill-tertiary: (
    light: rgb(232, 232, 232),
    dark: rgb(42, 42, 42),
  ),
  fill-quaternary: (
    light: rgb(218, 218, 218),
    dark: rgb(66, 66, 66),
  ),
  fill-gray-tertiary: (
    light: rgb(240, 240, 240),
    dark: rgb(66, 66, 66),
  ),
  fill-gray: (
    light: rgb(204, 204, 204),
    dark: rgb(87, 87, 87),
  ),
  figure-light-gray: (
    light: rgb(102, 102, 102),
    dark: rgb(176, 176, 176),
  ),
  figure-orange: (
    light: rgb(204, 51, 0),
    dark: rgb(255, 102, 0),
  ),
  figure-red: (
    light: rgb(255, 0, 0),
    dark: rgb(255, 51, 51),
  ),
  figure-green: (
    light: rgb(0, 128, 0),
    dark: rgb(0, 153, 0),
  ),
  fill-gray-secondary: (
    light: rgb(245, 245, 245),
    dark: rgb(34, 34, 34),
  ),
  fill-orange-secondary: (
    light: rgb(255, 250, 246),
    dark: rgb(71, 36, 0),
  ),
  fill-red-secondary: (
    light: rgb(255, 240, 245),
    dark: rgb(51, 0, 0),
  ),
  fill-green-secondary: (
    light: rgb(240, 255, 240),
    dark: rgb(0, 51, 0),
  ),
  fill-blue: (
    light: rgb(0, 0, 255),
    dark: rgb(0, 102, 255),
  ),
  tutorials-teal: (
    light: rgb(0, 0, 0),
    dark: rgb(255, 255, 255),
  ),
);

@function base-color($keys...) {
  @return funmaps.map-deep-get($base-colors, $keys);
}

@function dark-color($name) {
  @return base-color($name, dark);
}

@function light-color($name) {
  @return base-color($name, light);
}
