////
/// Applies styling to hide an element, while keeping it visible to Voice Over and other assistants.
////
@mixin visuallyhidden() {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

@mixin nav-link-style {
  color: var(--color-nav-link-color);
  transition:
    color 0.2s ease,
    border 0.2s ease;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: normal;
}
