$font-family-base: -apple-system, BlinkMacSystemFont, "SF Hello",
  "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-family-code: "SF Mono", ui-monospace, Menlo, Consolas, Monaco,
  "Courier New", monospace, serif;
$font-line-height-base: 1.5em;
$font-line-height-small: 1.6em;
$font-size-base: 18px;
$font-size-big: 50px;
$font-size-medium: 32px;
$font-size-medium-small: 24px;
$font-size-small: 12px;
$font-weight-base: 300;
$font-weight-medium: 500;
$font-weight-heavy: 700;
