$black: #000000;
$brown: #6A4E19;
$brown-light: #C18E2D;
$gray: #474747;
$gray-light: #979797;
$green: #285927;
$orange: #F05138;
$orange-dark: #C1412D;
$orange-light: #F79E90;
$pink: #FBD5CF;
$pink-light: #FFF2F0;
$purple: #6852F0;
$purple-dark: #2E246A;
$purple-light: rgba(218, 213, 251, 0.4);
$purple-medium: #5442C1;
$purple-very-dark: #231C51;
$purple-very-light: #DAD5FB;
$white: #ffffff;
$yellow: #F9D969;
$yellow-dark: #F0B138;
$yellow-light: #F9E2AB;
$yellow-very-light: #FBECCF;
