$black: #000000;
$brown: #6a4e19;
$brown-light: #c18e2d;
$gray: #474747;
$gray-light: #979797;
$green: #285927;
$orange: #f05138;
$orange-dark: #c1412d;
$orange-light: #f79e90;
$pink: #fbd5cf;
$pink-light: #fff2f0;
$purple: #6852f0;
$purple-dark: #2e246a;
$purple-light: rgba(218, 213, 251, 0.4);
$purple-medium: #5442c1;
$purple-very-dark: #231c51;
$purple-very-light: #dad5fb;
$white: #ffffff;
$yellow: #f9d969;
$yellow-dark: #f0b138;
$yellow-light: #f9e2ab;
$yellow-very-light: #fbeccf;

@mixin isDarkTheme() {
  body:has(#theme-toggle:checked) {
    @content;
  }
}
