$font-family-base: -apple-system, BlinkMacSystemFont, "SF Hello", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-line-height-base: 1.5rem;
$font-line-height-small: 1.2rem;
$font-size-base: 18px;
$font-size-small: 12px;
$font-weight-base: 300;
$font-weight-medium: 500;
$font-weight-heavy: 700;
