@use './core/_vars' as mixvars;
@use './core/colors/_light' as mixlight;
@use './core/colors/_dark' as mixdark;

body {
  color-scheme: light dark;
  @include mixvars.vars-light;
  @include mixlight.color-vars-light;

  &[data-color-scheme="light"] {
    color-scheme: light;
  }

  &[data-color-scheme="dark"] {
    color-scheme: dark;

    @media screen {
      @include mixvars.vars-dark;
      @include mixdark.color-vars-dark;
    }
  }
}
