---
layout: source
---

@use "core";
@use "colors";
@use "syntax";
@use "screen";
@use "elements";
@use "mobile";
@use "pages";
@use "print";
@use "new-stylesheets/themes" as *;
@use 'new-stylesheets/includes/header';
@use 'new-stylesheets/includes/navigation';
@use 'new-stylesheets/includes/footer';

body {
  @include light-theme;

  &[data-color-scheme='light'] {
    color-scheme: light;
  }

  &[data-color-scheme='dark'] {
    color-scheme: dark;

    @include dark-theme;
  }

  // Use linear-gradient so over scroll color matches footer background color, when user rubberbands.
  background-image: linear-gradient(
    180deg,
    var(--nav-scroller-gradient-start) 50%,
    var(--nav-scroller-gradient-end) 50%
  );
}
