<div class="image-text-column content-wrapper">
  <h2>{{ include.content.headline }}</h2>
  <div class="card-wrapper">
    <img
      src="{{ include.content.image.src }}"
      alt="{{ include.content.image.alt }}"
    />
    <div class="copy-wrapper">
      <h3>{{ include.content.copy.headline }}</h3>
      {% for paragraph in include.content.copy.paragraphs %}
      <p class="body-copy">{{paragraph}}</p>
      {% endfor %}
      <a class="body-copy" href="{{include.content.copy.link.href}}"
        >{{include.content.copy.link.text}}
      </a>
    </div>
  </div>
</div>
