{% assign platform = site.data.builds.swift_releases.last.platforms | where: 'name', 'Static SDK'| first %}
{% assign tag = site.data.builds.swift_releases.last.tag %}
{% assign tag_downcase = site.data.builds.swift_releases.last.tag | downcase %}

<div class="code-box content-wrapper">
    <h2>Static Linux SDK</h2>
    <p class="body-copy">
    Static Linux SDK - Cross compile to Linux.
    <br /><br />
    {% assign base_url = "https://download.swift.org/" | append: tag_downcase | append: "/static-sdk/" | append: tag | append: "/" | append: tag %}
    {% assign command = "swift sdk install " | append: base_url | append: "_static-linux-0.0.1.artifactbundle.tar.gz --checksum " | append: platform.checksum %}
    <button onclick="copyToClipboard(this, '{{ command | escape }}')">
        Copy install command
    </button>
    </p>
    <div class="link-wrapper">
    <div class="link-group">
        <a href="https://download.swift.org/{{ tag_downcase }}/static-sdk/{{ tag }}/{{ tag }}_static-linux-0.0.1.artifactbundle.tar.gz" class="body-copy">Download Linux Static SDK</a> |
        <a href="https://download.swift.org/{{ tag_downcase }}/static-sdk/{{ tag }}/{{ tag }}_static-linux-0.0.1.artifactbundle.tar.gz.sig" class="body-copy">Signature (PGP)</a>
    </div>
    </div>
    <div class="link-wrapper">
    <a href="/documentation/articles/static-linux-getting-started.html" class="body-copy">Instructions</a>
    </div>
</div>