<header class="site-navigation">
    <div class="wrapper">
      <h1 class="logo">
        <a href="/" title="Swift.org"> {% include new-includes/header/logo.html %} </a>
      </h1>
  
      <!-- desktop-navigation -->
      <nav class="desktop-navigation" role="navigation">
        {% include new-includes/header/navigation.html %}
      </nav>
  
      <!-- toggle -->
      <button
        id="menu-toggle"
        class="menu-item menu-toggle open"
        aria-expanded="false"
        aria-label="Toggle Navigation Menu"
      />
    </div>
  
    <!-- mobile-navigation -->
    <nav class="mobile-navigation" role="navigation">
        {% include new-includes/header/navigation.html %}
    </nav>
  </header>
  