@use 'sass:color';
@use '../helpers' as *;
@use '../graphics' as *;
@use '../_colors.scss';

.community {
    padding-bottom: 135px;
    color: var(--site-text-color);
    position: relative;
    background: var(--get-started-page-bg);
    @include noise();

    .community-swoop-1 {
        width: 100%;
        background-image: var(--community-featured-image-1);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: 0 0;
        position: absolute;
        top: 0;
        z-index: 1;
        aspect-ratio: 2624/1427.09;
    }

    .content {
        position: relative;
        z-index: 10;
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 22px;
        text-align: left;
        backdrop-filter: blur(10px);

        @media only screen and (max-width: 1024px) {
            padding: 20px;
        }
    }

    .community-featured-grid {
        margin-top: 146px;
        line-height: 1.53;

        .content {
            padding: 30px 50px 20px;
            background-color: var(--get-started-card-primary-bg);

            @media only screen and (max-width: 1024px) {
                width: auto;
                margin: 0 10px;
            }

            @media only screen and (max-width: 768px) {
                padding: 22px 15px 10px;
            }

            .community-featured-grid-headline {
                font-size: 48px;
                font-weight: 500;
                margin-bottom: 16px;
                color: var(--site-text-color);
                text-align: center;

                @media only screen and (max-width: 768px) {
                    font-size: 32px;
                    line-height: 1.33;
                    margin-bottom: 22px;
                }
            }

            .community-sub-featured-grid-headline {
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 16px;
                line-height: 1;
                color: var(--site-text-color);
                text-align: left;

                @media only screen and (max-width: 768px) {
                    font-size: 22px;
                    margin-bottom: 22px;
                    text-align: center;
                }
            }

            .community-featured-hero-card-image {
                border-radius: 22px;
                aspect-ratio: 880 / 382;
                object-fit: cover;
                object-position: center;
                margin-bottom: 26px;
                transition: transform 0.3s ease;

                &.with-full-width {
                    @media only screen and (max-width: 768px) {
                        border-radius: 0;
                        margin-left: -15px;
                        margin-right: -15px;
                        width: calc(100% + 30px);
                        max-width: none;
                    }
                }
            }

            .community-featured-hero-card-image.with-zoom:hover {
                transform: scale(1.01);
            }

            .community-sub-featured-grid-headline {
                text-align: left;
            }

            .community-sub-featured {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;

                @media only screen and (max-width: 768px) {
                    gap: 0;
                }
            }

            a.card-link {
                color: var(--site-text-color);
                text-decoration: none;
                margin-top: 1rem;
                display: flex;

                .card-cta {
                    color: var(--site-link-with-right-arrow-color);

                    @media only screen and (max-width: 768px) {
                        margin-bottom: 26px;
                    }
                }
            }

            @media (max-width: 768px) {
                .community-sub-featured {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    .community-section-grid {
        line-height: 1.53;
        margin-top: 80px;

        &>.community-section-grid-headline {
            margin-bottom: 40px;
            color: var(--site-text-color);
        }

        .content {
            padding: 30px 50px 50px;
            background-color: var(--get-started-card-primary-bg);

            &.links {
                padding-bottom: 22px;
            }

            @media only screen and (max-width: 1024px) {
                width: auto;
                margin: 0 10px;
            }

            @media only screen and (max-width: 768px) {
                padding: 22px 15px 10px;
            }

            .community-section-grid-headline {
                font-size: 48px;
                font-weight: 500;
                margin-bottom: 16px;
                color: var(--site-text-color);
                text-align: center;

                @media only screen and (max-width: 768px) {
                    font-size: 32px;
                    line-height: 1.33;
                    margin-bottom: 22px;
                }
            }

            .section-text {
                text-align: center;
                font-size: 20px;
                line-height: 1.8;
                max-width: 680px;
                margin: 40px auto;

                a.card-link {
                    color: var(--site-link-with-right-arrow-color);
                    text-decoration: none;
                }
            }

            .community-section-cards {
                text-align: left;
                overflow: hidden;
                padding: 20px 30px 20px 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;

                @media only screen and (max-width: 768px) {
                    grid-template-columns: repeat(1, 1fr);
                }

                li {
                    display: flex;
                    flex-direction: column;
                    border-radius: 22px;
                    background-color: var(--get-started-card-secondary-bg);
                    flex: 1;
                    min-height: 140px;
                    position: relative;
                    padding: 20px;

                    a.card-link {
                        color: var(--site-text-color);
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        text-decoration: none;
                        color: inherit;
                        border-radius: 22px;
                        height: 100%;

                        .community-card-headline {
                            font-size: 21px;
                            line-height: 1.25;
                            margin-bottom: 10px;
                            font-weight: 500;
                        }

                        .body-copy {
                            font-size: 17px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            flex-grow: 0;
                        }

                        .card-cta {
                            position: absolute;
                            left: 20px;
                            bottom: 20px;
                            color: var(--site-link-with-right-arrow-color);
                        }
                    }
                }
            }

            .community-section-links {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                gap: 0;
                align-items: center;
                height: 150px;
            }

            .community-section-links li {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .link-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: inherit;
                width: 100%;
                height: 100%;
            }

            .link-card-image {
                height: 40px;
                width: auto;
                margin-bottom: 20px;
                border-radius: 8px;
            }

            .link-card-text {
                text-align: center;
                font-size: 14px;
                line-height: 1.4;
            }

            .community-section-links li:nth-child(3)::after {
                content: "";
                position: absolute;
                right: 0;
                top: 12%;
                bottom: 12%;
                width: 1px;
                background-color: #999;
            }

            @media only screen and (max-width: 768px) {
                .community-section-links {
                    flex-direction: row !important;
                    flex-wrap: wrap !important;
                    height: auto !important;
                    gap: 0px !important;
                    max-width: 324px !important;
                    margin: 0 auto !important
                }

                .community-section-links li {
                    width: 108px !important;
                    padding: 16px 0 !important;
                    flex: none !important;
                    justify-content: center !important;
                }

                .community-section-links li:nth-child(3)::after {
                    content: none !important;
                }

                .link-card {
                    flex-direction: column !important;
                    justify-content: center !important;
                    align-items: center !important;
                    gap: 12px !important;
                }

                .link-card-image {
                    margin-bottom: 0 !important;
                }

                .link-card-text {
                    text-align: center !important;
                    font-size: 14px !important;
                }
            }
        }
    }
}