#exception {
  display: flex;
  flex-direction: column;
  background-color: var(--exception-page-bg);
  color: var(--site-text-color);

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 18vw 0;

    h1 {
      font-size: 48px;
    }

    @media only screen and (max-width: 1024px) {
      margin: 90px 0;
    }
  }
}
