.homepage {
  .claim {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .text {
      font-size: $font-size-medium-small;
      line-height: $font-line-height-base;
    }

    .button {
      margin-top: auto;
    }
  }

  img {
    max-height: 118px;
  }
}
