@use 'sass:color';
@use '../helpers' as *;
@use '../graphics' as *;

$icons: (
  'cloud',
  'mobile',
  'chip',
  'desktop',
  'websites',
  'games',
  'ai',
  'command-line',
  'packages'
);

.section {
  text-align: center;

  h2 {
    font-size: 45px;
    color: #3d3d3d;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 1.33;
    }
  }

  .callout-subtitle {
    margin-bottom: 22px;
  }
}

.animation-container {
  aspect-ratio: 1248 / 1116;
  top: calc(66px - 9.5vw);
  left: 0;
  width: 57vw;
  min-width: 500px;
  position: absolute;
  z-index: 1;
  pointer-events: none;

  @media only screen and (max-width: 800px) {
    // start to crop in hero from the left
    width: 500px;
    left: initial;
    right: 50%;
    top: 11px;
    transform: translateX(14%);
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#what-is-swift {
  padding-top: 72px; // height of navigation, plus standard
  padding-bottom: 8vw;
  text-align: center;
  position: relative;
  background-image: var(--homepage-hero-bg);
  @include noise();

  @media only screen and (max-width: 1024px) {
    & {
      padding: calc(72px + 142px) 10px 24vw;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .hero-content {
    margin-top: 18vw;
    z-index: 5;

    @media only screen and (max-width: 1024px) {
      margin-top: 48px;
    }
  }

  h1 {
    font-size: 48px;
    line-height: 1.2;
    color: var(--site-code-box-text);
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    z-index: 3;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 1.33;
    }
  }

  /* Install */
  .hero-content > a {
    @include big-button();
  }

  /* Platform Support */
  .hero-content > p {
    opacity: 0.66;
    font-size: 17px;
    color: var(--homepage-install-text);
    font-weight: 500;
    margin-top: 11px;
  }

  /* Get Started */
  h2 {
    font-size: 32px;
    color: var(--site-text-color);
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    margin-top: 70px;
    margin-bottom: 29px;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      font-size: 32px;
      line-height: 1.33;
    }
  }

  .sub-text > h2 {
    font-size: 32px;
    color: var(--site-code-box-text);
    letter-spacing: 0;
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;

    @media only screen and (max-width: 768px) {
      font-size: 28px;
      margin-bottom: 30px;
      line-height: 1.33;
    }
  }

  nav[aria-label='Get started with Swift'] {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

    ul {
      display: flex;

      li {
        a {
          display: flex;
          text-decoration: none;
          color: var(--home-quicklinks-color);
          background-color: var(--home-quicklinks-bg);
          // background-color: #fff;
          font-weight: 400;
          border-radius: 36px;
          font-size: 14px;
          padding: 12px;
          transition:
            background-color 0.2s ease,
            color 0.2s ease;

          /* Icon inside button */
          i {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            background-color: var(--home-quicklinks-color);

            @each $name in $icons {
              &.#{$name} {
                mask: url('/assets/images/icon-#{$name}.svg')
                  center /
                  contain
                  no-repeat;
                -webkit-mask: url('/assets/images/icon-#{$name}.svg')
                  center /
                  contain
                  no-repeat;
              }
            }
          }

          /* Hover/focus styles */
          &:hover,
          &:focus {
            // background-color: rgba(230, 150, 80, 0.9);
            // background-color: color.adjust($foo, $lightness: -10%);
            outline: none;
          }

          &:focus-visible {
            outline: 2px solid dodgerblue;
            outline-offset: 2px;
          }
        }
      }

      &.primary-links {
        gap: 20px;
        margin-bottom: 20px;

        li {
          flex: 1; // equal width

          a {
            text-align: left;
            padding: 25px;
            gap: 12px;

            .title {
              font-size: 24px;
              font-weight: 600;
              text-transform: capitalize;
            }

            .subtitle {
              line-height: 1.4;
            }

            i {
              width: 40px;
              height: 40px;
            }
          }
        }
      }

      &.secondary-links {
        gap: 15px;
        flex-wrap: wrap;

        li {
          flex-grow: 1; // varied width

          a {
            justify-content: center;

            .title {
              font-weight: 400;
              white-space: nowrap;
            }
          }
        }
      }
    }

    /* Mobile */
    @media only screen and (max-width: 1024px) {
      max-width: 100%;

      ul {
        &.primary-links {
          flex-direction: column;
        }

        &.secondary-links {
          gap: 0;

          li {
            a {
              background: none;
              padding: 8px 12px;
            }
          }
        }
      }
    }
  }

  .swoop-0 {
    @include swoop-ratio(2048, 687, 1.2);
    @include lazyloadBg('/assets/images/landing-page/swoops/swoop-0.png');
    z-index: 1;
    background-size: 120%;
    background-position: 45% 0;
  }
} // what-is-swift

.pillar-wrapper {
  text-align: center;
  margin: auto;
  padding: 4vw 0 32px;
  max-width: 720px;
  .pillar-headline {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  @media only screen and (max-width: 1024px) {
    text-align: left;
    padding: 4vw 0 32px;
    max-width: none;

    .pillar-headline {
      text-align: left;
    }
  }
}

.pillar {
  padding: 13.88vw 0;
  position: relative;
  overflow: visible;

  @include noise();
}

.swoop {
  transition: opacity 0.5s;
  display: block;
  background: none no-repeat;
  background-size: 120%;
  background-position: -25% 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(50%);
  pointer-events: none;
}

.code {
  text-align: left;
  margin: 0 auto 10px;
  max-width: 900px;
  position: relative;
  z-index: 10;

  pre.highlight {
    border-radius: 20px;
    padding: 28px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.5);
  }
}

body[data-color-scheme='dark'] {
  .callout.with-code {
    .code {
      pre.highlight {
        border: 1px solid #575757;
        background: #111727;
      }
    }
  }
}

#pillar-1 {
  background-image: var(--homepage-pillar-1-bg);
  padding: 11.88vw 0 16.88vw;
  color: var(--site-text-color);

  .swoop {
    @include swoop-ratio(444, 97, 1.33);
    z-index: 1;
    background-size: 133%;
    background-position: 60% 0;
    @include lazyloadBg('/assets/images/landing-page/swoops/swoop-1.png');
  }

  @media only screen and (max-width: 768px) {
    padding-top: 17.88vw;
  }
}

#pillar-2 {
  padding: 0.94vw 0 12.5vw;
  background-image: var(--homepage-pillar-2-bg);

  .swoop {
    @include swoop-ratio(2624, 1073, 1.33);
    z-index: 1;
    background-size: 133%;
    background-position: 45% 0;
    @include lazyloadBg('/assets/images/landing-page/swoops/swoop-2.png');
    bottom: -5vw;
  }
}

#pillar-3 {
  background-image: var(--homepage-pillar-3-bg);
  padding: 5vw 0 40px;

  .callout {
    color: white;
    max-width: 760px;
  }

  .callout-text {
    text-align: center;
  }
}
