.storybook {
  main {
    display: flex;
    box-sizing: border-box;
    padding: 0 1rem;

    h1 {
      color: $brown-light;
      font-size: 1.9em;
    }

    .page-title {
      font-size: 2.4em;
      display: none;

      @media (max-width: $breakpoint-desktop) {
        display: block;
      }
    }

    input[type="search"] {
      border: 2px solid $pink;
      padding: 1rem;
      width: 100%;
      font-size: 1em;
      outline: none;
    }

    button {
      cursor: pointer;
    }

    .sidebar {
      width: 20%;
      padding: 1rem;
      margin-right: 1%;
      border: 1px solid $pink;
      position: sticky;
      top: 0;
      height: fit-content;

      @media (max-width: $breakpoint-desktop) {
        width: 100%;
        display: none;
      }

      h2 {
        font-size: 18px;
        margin-top: 1rem;
      }

      a {
        text-decoration: none;

        &.active {
          text-decoration: underline;
        }
      }
    }

    .copy-code, .fullscreen {
      margin-top: 2rem;
    }

    &>.content:first-of-type {
      padding-top: 1rem;
    }

    .content {
      width: 79%;
      max-width: 79%;

      @media (max-width: $breakpoint-desktop) {
        width: 100%;
        max-width: 100%;
      }
    }

    .footer {
      border-top: 2px solid $pink;
      font-size: $font-size-small;
      padding: 2rem 0;
    }
  }

  .storybook-render {
    @include box-radius;
    @include default-border;

    padding: 2rem;
    margin: 1rem 0;

    &.storybook-viewport-mobile {
      max-width: 500px;
    }
  }

  // Specificity to avoid styling other code snippets
  main .content > div.highlighter-rouge {
    @include box-radius;
    @include default-border;
    padding: 2rem;
    margin: 1rem 0;
    overflow-x: scroll;
  }

  .sample-box {
    @include box-radius;
    background: rgba($pink, 0.4);
    padding: 1rem;
    margin: 1rem 0;
  }

  hr {
    margin: 3rem 0;
    border: none;
    border-top: 2px solid $pink;
  }
}
