<tr>
    <td class="download">
        <span class="release">
          <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.download }}" title="Download" download>{{ include.name }}</a>
          {% if include.name == "Windows 10" %}
           <sup>1</sup>
          {% endif %}
          {% if include.build.download_signature %}
            <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.download_signature }}" title="PGP Signature" class="signature">Signature</a>
          {% endif %}
          {% if include.build.debug_info %}
            <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.debug_info }}"  title="Debugging Symbols" class="debug">Debugging Symbols</a>
          {% if include.build.debug_info_signature %}
            <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.debug_info_signature }}" title="PGP Signature for Debugging Symbols" class="signature">Signature</a>
          {% endif %}
          {% endif %}
        </span>
    </td>
    <td class="date">
        <time datetime="{{ include.build.date | date_to_xmlschema }}" title="{{ include.build.date | date: '%B %-d, %Y %l:%M %p (%Z)' }}">{{ include.build.date | date: '%B %-d, %Y' }}</time>
    </td>
        <td class="docker-tag">
        {% if include.docker_tag %}
          <a href="https://hub.docker.com/r/swiftlang/swift/tags">{{ include.docker_tag }}</a>
        {% else %}
          Unavailable
        {% endif %}
    </td>
</tr>
