<table id="latest-builds" class="downloads">
  <thead>
    <tr>
      <th class="download">Platform</th>
      <th class="arch-tag">Architecture</th>
      <th class="docker-tag">Docker Tag</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="download">
        <span class="release">
          <a
            href="https://itunes.apple.com/app/xcode/id497799835"
            title="Download"
            download
            >{{ include.release.xcode }}</a
          >
        </span>
      </td>
      <td class="arch-tag">
        {% if include.release.xcode_toolchain != false %}
        <a
          href="https://download.swift.org/{{ include.release.tag | downcase }}/xcode/{{ include.release.tag }}/{{ include.release.tag }}-osx.pkg"
          title="Download"
          >Toolchain</a
        >
        <a
          href="https://download.swift.org/{{ include.release.tag | downcase }}/xcode/{{ include.release.tag }}/{{ include.release.tag }}-osx-symbols.pkg"
          title="Debugging Symbols"
          class="signature"
          >Debugging Symbols</a
        >
        {% else %}
        <a
          href="https://itunes.apple.com/app/xcode/id497799835"
          title="Download"
          download
          >x86_64</a
        >
        {% endif %}
      </td>
      <td class="docker-tag">Unavailable</td>
    </tr>
    {% for platform in include.release.platforms %}
    <tr>
      <td class="download">
        <span class="release">
          <p title="Download" download>
            {{ platform.name }} {% if platform.platform == "Windows" and
            include.release.date < swift_5_9_1_release_build.date %}
            <sup> 1</sup>
            {% endif %}
          </p>
          {% if platform.platform == "Windows" %} {% assign package_extension =
          'exe' %} {% else %} {% assign package_extension = 'tar.gz' %} {% endif
          %}
        </span>
      </td>
      <td class="arch-tag">
        {% for arch in platform.archs %} {% if platform.dir %} {% assign
        platform_name_url = platform.dir %} {% assign platform_name =
        platform_name_url %} {% else %} {% assign platform_name_url =
        platform.name | remove: '.' | remove: ' ' | downcase %} {% assign
        platform_name = platform.name | remove : ' ' | downcase %} {% endif %}
        {% if arch != "x86_64" %} {% assign platform_name_url =
        platform_name_url | append: "-" | append: arch %} {% assign
        platform_name = platform_name | append: "-" | append: arch %} {% endif
        %} {% assign tag_downcase = include.release.tag | downcase %}
        <a
          href="https://download.swift.org/{{ tag_downcase }}/{{ platform_name_url }}/{{ include.release.tag}}/{{ include.release.tag}}-{{ platform_name }}.{{ package_extension }}"
          >{{ arch }}</a
        >
        {% unless platform.platform == "Windows" and include.release.date >=
        swift_5_9_1_release_build.date %}
        <a
          href="https://download.swift.org/{{ tag_downcase }}/{{ platform_name_url }}/{{ include.release.tag}}/{{ include.release.tag}}-{{ platform_name }}.{{ package_extension }}.sig"
          title="PGP Signature"
          class="signature"
          >Signature ({{ arch }})</a
        >
        {% endunless %} {% endfor %}
      </td>
      <td class="docker-tag">
        {% if platform.docker %}
        <a href="https://hub.docker.com/_/swift/?tab=tags"
          >{{ platform.docker }}</a
        >
        {% else %} Unavailable {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% assign windows_platform = include.release.platforms | where: 'platform',
'Windows' %} {% if windows_platform.size > 0 and include.release.date <
swift_5_9_1_release_build.date %}
<sup>1</sup> Swift {{ include.release.name }} {{ windows_platform.first.name }}
toolchain is provided by
<a href="https://github.com/compnerd">Saleem Abdulrasool</a>. Saleem is the
platform champion for the Windows port of Swift and this is an official build
from the Swift project. <br /><br />
{% endif %}
