<tr>
    <td class="download">
        <span class="release">
          <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.download }}" title="Download" download>{{ include.name }}</a>
        {% if include.build.windows %}
           <sup> 2</sup>
        {% endif %}
        </span>
    </td>
    <td class="toolchain">
      <span class="download">
          <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.download }}" title="Download" download>Toolchain</a>
          {% if include.build.download_signature %}
            <a href="https://download.swift.org/{{ include.branch_dir }}/{{ include.platform_dir }}/{{ include.build.dir }}/{{ include.build.download_signature }}" title="PGP Signature" class="signature">PGP Signature</a>
          {% endif %}
        </span>
    </td>
    <td class="docker-tag">
        {% if include.build.docker %}
          <a href="https://hub.docker.com/_/swift" title="{{ include.build.docker }}">{{ include.build.docker }}</a>
        {% else %}
        Unavailable
        {% endif %}
    </td>
</tr>
