<footer class="global-footer">
  <div class="container">
    <div class="footer-navigation-container">
      <div class="notes">
        <a class="logo" href="/" title="Swift.org"> {% include new-includes/header/logo.html %} </a>
      </div>

      {% include new-includes/footer/navigations/tools.html %}

      {% include new-includes/footer/navigations/community.html %}

      {% include new-includes/footer/navigations/governance.html %}
    </div>

    <div class="sub-navigation">
      <div class="legals">
        {% include new-includes/footer/copyright.html %}
        {% include new-includes/footer/navigations/legals.html %}
      </div>

      {% include new-includes/footer/navigations/socials.html %}
    </div>
  </div>
</footer>
