  <form
  class="color-scheme-toggle"
  role="radiogroup"
  tabindex="0"
  id="color-scheme-toggle"
>
  <legend class="visuallyhidden">Color scheme preference</legend>
  <label class="scheme-light" for="scheme-light">
    <input
      id="scheme-light"
      type="radio"
      name="color-scheme-preference"
      value="light"
    />
    <span class="color-scheme-toggle-label">Light</span>
  </label>
  <label class="scheme-dark" for="scheme-dark">
    <input
      id="scheme-dark"
      type="radio"
      name="color-scheme-preference"
      value="dark"
    />
    <span class="color-scheme-toggle-label">Dark</span>
  </label>
  <label class="scheme-auto-wrapper" for="scheme-auto" id="scheme-auto-wrapper">
    <input
      id="scheme-auto"
      type="radio"
      name="color-scheme-preference"
      value="auto"
    />
    <span class="color-scheme-toggle-label">Auto</span>
  </label>
</form>